@charset "UTF-8";

/*--------------------------- global constants -------------------------*/
/*limited reset*/
html, body {
	width: 100vw;
  height: 100vh;
	margin: 0;
	padding: 0;
	font: 100% Arial, sans-serif;
  /* overflow: hidden; */
}
body {
	text-align: center;
	background: #000000;
}
div, section, article, aside, header, hgroup, footer, nav, h1, h2, h3, h4, h5, h6, p, blockquote, address, time, span, em, strong, img, ol, ul, li, figure, canvas, video {
	margin: 0;
	padding: 0;
	border: 0;
}
::-webkit-calendar-picker-indicator {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 24 24"><path fill="%23e84393" d="M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V8h16v13z"/></svg>');
}

.swiper {
	width: 100%;
	height: 100%;
}
.swiper-slide {
	font-size: auto;
	height: auto;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: auto;
}

#field {
	padding: 40px 20px 40px 20px;
}
#field > img.field {
	display: flex;
	right: 10px;
	bottom: 10px;
	position: absolute;
}
#personalInfo > img {
	display: flex;
	right: 10px;
	bottom: 10px;
	position: absolute;
}
#field > article > div.hero > div > div > span.bio {
	/* margin-top: -115px; */
	position: absolute;
}
#field > article > div.hero > div > img.banner {
	margin-top: 28px;
	border-radius: 10px;
	padding: 10px;
	width: clamp(160px, calc(100vw * .55), 440px);
	border: 2px solid #f78da7;
	box-shadow: 0px 0px 4px 4px #e84393;
}
.main {
  position: relative;
	justify-content: center;
}
.onePage {
  font-family: Arial, sans-serif;
  color: #a29bfe;
  -webkit-font-feature-settings: "liga" 0, "onum" 1, "kern" 1;
  -o-font-feature-settings: "liga" 0, "onum" 1, "kern" 1;
  font-feature-settings: "liga" 0, "onum" 1, "kern" 1;
}
.onePage h1 {
	font-size: clamp(1rem, 4vw + 1rem, 3rem);
  font-family: Arial, sans-serif;
  line-height: inherit;
}
.onePage .section-header {
  font-family: Arial, sans-serif;
  display: block;
	color: #e84393;
  /* font-size: 1.35em; */
	font-size: clamp(.5rem, 1vw + .75rem, 1.35rem);;
  letter-spacing: 0;
  font-weight: normal;
  margin: 14px 0 0 0;
  text-transform: uppercase;
  text-align: left;
  border-bottom: none;
}
.onePage .content {
  font-family: Arial, sans-serif;
  font-feature-settings: "liga" 0, "onum" 1, "kern" 1;
  overflow: hidden;
}
.onePage p {
  white-space: pre-line;
  padding: 0;
  margin: 0 auto;
  /* font-size: 0.95em; */
	font-size: clamp(.5rem, 1vw + .5rem, .95rem);;
  font-weight: 100;
  line-height: 1.5;
  text-align: left;
  display: block;
  position: relative;
}
.onePage .item,
.onePage .skills .item {
  line-height: 1.25 !important;
  margin-bottom: 9px;
}
.onePage .skills .item {
  margin-bottom: 0;
}
.onePage .name {
  color: #6c5ce7;
	font-variant-caps: all-small-caps;	
  font-family: Arial, sans-serif;
  margin: 6px auto;
  display: block;
  text-align: left;
  width: 100%;
  font-size: clamp(1rem, 4vw + 1rem, 3rem);
  padding: 0 0 3px 0;
  font-weight: 700;
}
.onePage .contact {
  color: #f78da7;
  margin-top: 2px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}
.onePage .contact-item {
  font-family: Arial, sans-serif;
  display: block;
  align-items: center;
  /* font-size: 1em; */
	font-size: clamp(.25rem, 2vw + .25rem, 1rem);
  font-weight: 500;
  padding: 2px 3px 8px 3px;
}
.onePage .contact-item-location {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  /* font-size: 1em; */
	font-size: clamp(.25rem, 2vw + .25rem, 1rem);
  font-weight: 500;
  padding: 2px 3px 8px 0;
}
.onePage .contact-icon {
  width: 0.9em;
  height: 0.9em;
  margin-right: 3px;
  fill: currentColor;
}
.onePage[data-icons="false"] .contact-icon {
  display: none;
}
.onePage[data-icons="false"] .contact-item:before {
  content: "•";
  display: block;
  padding: 0 7px 0 3px;
}
.onePage .contact span i {
  position: relative;
  top: 1px;
  margin: 0 3px 0 0;
}
.onePage .summary {
  display: block;
}
.onePage .summary-paragraph {
  margin-top: .7em !important;
}
.onePage .item > div > span {
  line-height: 2em;
}
.onePage .item span {
  margin: 0 0 -6px;
  /* font-size: 1em; */
	font-size: clamp(.5rem, 1vw + .5rem, 1rem);;
  font-weight: 600;
  text-align: left;
  display: inline-flex;
  align-items: baseline;
  padding: 0;
  line-height: initial;
}
.onePage .highlight {
  color: #6c5ce7;
	text-transform:uppercase;
}
.onePage .item .ghost-hightlight span > span,
.onePage .minor .minor-text {
  font-size: 1em;
  font-weight: 400 !important;
}
.onePage .item span > span:after {
  display: none;
}
.onePage .minor {
  font-feature-settings: "liga" 0, "onum" 1, "kern" 1;
  display: inline-flex !important;
  position: relative;
  overflow: hidden;
}
.onePage .minor .minor-text {
  font-weight: normal;
}
.onePage .item p {
  display: block;
  text-align: left;
  white-space: pre-line;
  padding: 0;
  margin: 0 auto;
  /* font-size: 1em; */
	font-size: clamp(.5rem, 2vw + .25rem, 1rem);
  font-weight: 400;
  line-height: 1.6em;
}
.onePage .handle {
  top: 0 !important;
}
.onePage > div > div > div > .handle {
  top: 0px !important;
  font-size: 1.2em;
  height: calc(100% - 27px);
}
.onePage .summary .item {
  margin-top: -6px;
}
.onePage .education .item > div {
  display: inline-block;
}
.onePage .education-location,
.onePage .education-date {
  font-weight: 400 !important;
}
.onePage .item span:after {
  content: "|";
	font-weight: bold;
  position: relative;
  left: 1px;
	bottom: 2px;
  box-sizing: border-box;
  padding: 0 0px 0 3px;
  color: #e84393;
}
.onePage .item .baseline {
  display: block !important;
}
.onePage .item .baseline > span:not(:last-child):after {
  content: ",";
  margin-left: -3px;
  color: #f78da7;
}
.onePage .item span:last-child:after {
  content: "";
  position: relative;
  padding: 0;
}
.onePage .item .baseline > span {
  color: #f78da7;
  font-weight: normal;
  margin-bottom: 0;
}
.onePage .hero.havePicture {
  display: flex;
  align-items: flex-end;
}
.onePage .hero.havePicture .name {
  text-align: left;
}
.onePage .hero.havePicture .contact {
  text-align: left;
  justify-content: left;
}
.onePage .picture {
  width: 2.5cm;
  min-width: 2.5cm;
  height: 3cm;
  margin: 0 20px 10px 0;
  border-radius: 15px;
  overflow: hidden;
  color: #f1f1f1;
  background: #f1f1f1;
}
.onePage .picture img {
  object-fit: cover;
  object-position: center;
  width: 2.5cm;
  height: 3cm;
}
.onePage .no-picture {
  color: var(--color-grey);
  border: 2px dashed var(--color-grey);
  cursor: pointer;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  text-transform: uppercase;
  font: var(--font-heading);
  font-size: var(--scale-000);
  line-height: 1.5em;
}
.onePage .hide-picture {
  display: none;
}
.heading {
  font-weight: 600 !important;
}
.copyright {
	display: 	inline-flex;
	position: absolute;
	align-items: center;
	font-kerning: auto;
	z-index: 1;
	background: transparent;
	font-size: clamp(.7rem, 1vw + .5rem, 1.1rem);
	font-weight: bold;
	font-variant-caps: all-small-caps;
	bottom: 4px;
	color:#e84393;
	transition: 0s;
}
.pfp {
	position: absolute;
	z-index: 1;
	background: #000000;
	right: 20px;
	top: 20px;
	border-radius: 10px;
	border: 2px solid #a29bfe;
	box-shadow: 0px 0px 4px 4px #6c5ce7;
}
.pfp-bio {
	position: absolute;
	z-index: 1;
	background: #000000;
	left: 20px;
	top: 20px;
	border-radius: 10px;
	border: 2px solid #a29bfe;
	box-shadow: 0px 0px 4px 4px #6c5ce7;
}
.box {
	position: relative;
	justify-content: center;
	align-content: center;
	display: flex;
	background: transparent;
}
.fixedBanner {
	margin-left: 15%;
	min-width: 75%;
	min-height: 29px;
	background: transparent;
	margin: 29px 0 0 0;
	background:transparent;
	border-radius: 10px;
	border: 2px solid #2d3436;
	box-shadow: 0px 0px 4px 4px #55efc4;
}
.flash {
	-webkit-animation-name: flash-animation;
	-webkit-animation-duration: 0.2s;
  -webkit-animation-iteration-count: 3;
  -webkit-animation-timing-function: ease;

  -moz-animation-name: quickFlash;
  -moz-animation-duration: .2s;
  -moz-animation-iteration-count: 3;
  -moz-animation-timing-function: ease;
	
	animation-name: flash-animation;
	animation-duration: 0.2s;
  animation-iteration-count: 3;
  animation-timing-function: ease;
}
@-webkit-keyframes flash-animation {  
	from { color: #fdcb6e; border: 2px solid #fd79a8; box-shadow: 0px 0px 4px 4px #e84393;}
	to   { color: default; border: 2px solid #ffeaa7; box-shadow: 0px 0px 4px 4px #fdcb6e;}
}
@keyframes flash-animation {  
	from { color: #fdcb6e; border: 2px solid #fd79a8; box-shadow: 0px 0px 4px 4px #e84393;}
	to   { color: default; border: 2px solid #ffeaa7; box-shadow: 0px 0px 4px 4px #fdcb6e;}
}
a:link, a:visited {
	transition: 1s;
	text-align: center;
	font-weight: bold;
	justify-content: center;
	color: #fdcb6e;
	text-decoration: none;
}
#specials > h2 > a:link,  #specials > h2 > a:active,  #specials > h2 > a:visited {
	transition: 1s;
	font-variant-caps: all-small-caps;
	text-align: center;
	font-weight: bold;
	justify-content: center;
	color: #55efc4;
	border-width: 2px;
	border-radius: 10px;
	border: 2px solid #2d3436;
	box-shadow: 0px 0px 4px 4px #e84393;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	text-decoration: none;
}
#specials > h2 > a:hover,  #specials > h2 > a:active{
	color: #e84393;
	font-size: inherit;
	transition: 1s;
	border-radius: 10px;
	border: 2px solid #2d3436;
	box-shadow: 0px 0px 4px 4px #fdcb6e;
}
a:hover, a:active {
	color: #e84393;
	font-size: inherit;
	transition: 1s;
}
p + h1 {
	margin-top: 1em;
	padding-top: 1em;
	border-top: 2px solid #000000;
}
p {
	font-size: 1em;
	line-height: 2;
	margin: 0 0 1em;
}
#trivia > h1 {
	margin-bottom: 1em;
}
#trivia > p {
	font-style: italic;
	font-weight: bold;
	color: #ffeaa7;
	display: contents;
	margin-left: 0em;
	margin-top: 1em;
	margin-bottom: 0em;
	line-height: 1.5;
}
/*html5 display rule*/
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, video {
	display: block;
}
/* ^2 ------ global classes -------- */
.floatRight {
	float: right;
}
.floatLeft {
	float: left;
}
.clearRight {
	clear: right;
}
.clearLeft {
	clear: left;
}
.clearBoth {
	clear: both;
}
span.accent {
	display: block;
	text-align: right;
}
.fixed-header {
	width: 100vw;
	min-height: 68px;
	position: fixed;
	align-self: center;
	justify-self: center;
	align-content: center;
	margin: 0px auto 0 auto;
	top: 4px
}
.callOut {
	background: transparent;
	padding: 1.6em;
	margin-bottom: 1.6em;
	border: 2px solid #2d3436;
	border-radius: 10px;
	box-shadow: 0px 0px 4px 4px #55efc4;
	-webkit-border-top-left-radius: 20px;
	-webkit-border-top-right-radius: 20px;
	-webkit-border-bottom-right-radius: 20px;
	-webkit-border-bottom-left-radius: 20px;
	-moz-border-radius-topleft: 20px;
	-moz-border-radius-topright: 20px;
	-moz-border-radius-bottomright: 20px;
	-moz-border-radius-bottomleft: 20px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	width: 380px;
}
.required {
  color: #e84393;
}
.hidden {
  display: none;
}
/* ^3 ------------- home page specfic layout styles ----------- */
#home #wrapper {
	background: #000 url(../_images/home_page_back.jpg) no-repeat 0 100px;
}
#home #contentWrapper{
	margin: 0 25px;
	padding: 25px;
	background: transparent;
	background: rgba(255, 255, 255, 0);
	float: left;
	width: 100vw;
}
#home #mainContent {
	float: right;
	/* display:flex; */
	width: 100vw;
	padding-right: 0;
	margin-right: 0;
	/* z-index: -2; */
}
#home #secondaryContent {
	float: left;
	width: 400px;
	margin-top: 0;
}
#home #mainContent h1, #home #secondaryContent h1 {
	margin: 1em 0 .5em;
	padding-top: 2em;
	border-top: 2px solid #000000;
}
#home #mainContent h1:first-child, #home #secondaryContent h1:first-child {
	border: none;
	padding-top: 0;
	margin: 0 0 .25em;
}
#home #mainContent p + h1 {
	margin-top: 1em;
	padding-top: 1em;
	border-top: 2px solid #999;
}
#home #mainContent p {
	font-size: 1em;
	line-height: 2;
	margin: 1em 0;
}
#home #mainContent p.spotlight{
	padding-right: 200px;
	background: url(../_images/cycle_logo.png) no-repeat top right;
}
#home video {
	margin: 1em 0;
}
#home p.videoText {
	width: 525px;
}
/* ^4 --------------------- base layout styles ------------------- */
#wrapper {
 	position: relative;
	padding: 0;
	width: auto;
	margin: 25px auto 0;
	background: transparent;
	text-align: left;
	z-index: 1; /*fix for IE menu issues*/
}
#mainWrapper {
	width: 100vw;
	display: inline-block;
}
#mainHeader {
	position: fixed;
	float: left;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	height: 60px;
	overflow-y:hidden;
	z-index: 2; /*fix for IE menu issues*/
}
#mainContent img.articleImage {
	display: block;
	margin: 1em 0;
}
#mainContent > div > div > img.copyright {
	display: flex;
	position: relative;
	bottom: -2px;
	transition: 0s;
	width: clamp(.75rem, 1vw + 1em, 1em);
	height: clamp(.75rem, 1vw + 1em, 1em);
}
#mainContent > div > a.footer {
	color:#a29bfe;
}
#mainContent > div > a.footer:hover {
	color:#6c5ce7;
}
#mainContent {
	float: none;
	display: flex;
	margin: 80px auto 0px auto;
}
#secondaryContent {
	float: left;
	margin-top: 55px;
	width: 440px;
	padding-left: 25px;
}
#pageFooter {
	background: #0693e3;
	clear:both;
	overflow: auto;
	height: 300px;
	width: 100%;
}
/* ^5----------------------- region-detail styles ------------------------ */
/*  header  ^5a*/

#mainHeader a.logo:hover {
	border: none;
}
#mainHeader a.logo{
	width: 50px;
	height: 50px;
	display: block;
	background: url(../_images/pfp-50-50.png) no-repeat;
	position: absolute;
	top: .5em;
	left: .5em;
	text-indent: -1000em;
	z-index: 2000;
}
#specials > h2 > img {
	border-radius: 10px;
	border: 2px solid #a29bfe;
	transition: all 1s;
	opacity: 1;
	pointer-events: none;
	box-shadow: 0px 0px 4px 4px #6c5ce7;
}
.pullTab-Wrapper {
	position: absolute;
	background: transparent;
	left: 61px;
	width: 30px;
	height: 60px;
	top: 50%;
	opacity: 1;
	display: flex;
	align-items: center;
}
.pullTab {
	position: float;
	background: #e84393;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border: 2px solid #fd79a8;
	height: 40px;
	width: 7px;
	top: 50%;
	opacity: 1;
}
.tt {
	font: 1.1em Arial, sans-serif;
	position: absolute;
	left: 61px;
	min-width: 180px;
	max-width: auto;
	height: 41px;
	background: #000000;
	z-index: 999999999999;
	margin-top: -8.5px;
	padding: 4px 4px 4px 10px;
	border-radius: 10px;
	opacity: 0;
	pointer-events: none;
	box-shadow: 0px 0px 4px 4px #e84393;
}
.tt .tt-title {
	position: relative;
	display: flex;
	background-color: #000000;
	text-shadow: 2px 2px 1px #2d3436;
	font-weight: bold;
	color: #55efc4;
	font-size: 15px;
	margin-bottom: 4px;
}
.tt .tt-title span {
	font-size: 15px;
	display: flex;
	margin-bottom: 0px;
}
.tt .tt-descr {
	min-width: 150px;
	max-width: auto;
	display: flex;
	text-align: left;
	font-size: 12px;
	font-weight: bold;
	line-height: 100%;
	width: 100%;
	color: #a29bfe;
	overflow-x: auto;
	overflow-y: hidden;
	letter-spacing: -.01em;
}
.tt .tt-descr span {
	font-weight: 800;
	text-align: left;
	overflow-x: auto;
	overflow-y: hidden;
	color: #a29bfe
}
.tt .tt-descr img {
	margin-top: 0px;
}
.sideBar-Wrapper {
	height: auto;
}

#sideBar {
	position: fixed;
	/* height: calc(100vh / 2); */
	left: 1em;
	top: 1em;
	display: block;
	margin-top: 0em;
	padding-bottom: 0em;
}
#sideBar > div > ul > li > a > i.selected {
	color: #e84393;
	border: 2px solid #ffeaa7;
	border-radius: 10px;
	box-shadow: 0px 0px 4px 4px #fdcb6e;
}
#sideBar > div  > ul > li > a.current > i > ul > li > div, #sideBar > div  > ul > li > a.current > i > ul > li > div > .tt {
	display: block;
	opacity: 1;
}
#sideBar ul li {
	margin: 0 0 10px 0;
	border-radius: 10px;
	list-style: none;
}
#sideBar li a i {
	transition: 1s;
	color: #55efc4;
	border-radius: 10px;
	border: 2px solid transparent;
	display: flex;
	font-size: 36px;
	text-align: center;
	justify-content: center;
	padding: 6.5px 2px 6.5px 2px;
}
#sideBar ul li a i:hover, #sideBar li a i:active {
	transition: 1s;
	color: #e84393;
	border-radius: 10px;
}


/* navigation ^5b*/
#siteNav h1 {
	display: none;
}
#siteNav ul {
	list-style: none;
	height: 50px;
	background-color: transparent;
	/* width: auto; */
	/* width: clamp(320px, calc(100vw - 12px), 436px); */
	/* max-width: calc(100vw - 8px); */
	padding: 0;
	margin: 0;
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
}
#siteNav div > ul > li {
	display: flex;
	margin: 0 0 0 0;
	padding: 0;
	position: relative;
}
#siteNav > div > ul > li > ul > li:nth-child(1) > a {
	margin-top: 16px;
}
#siteNav > div > ul > li:nth-child(1), #siteNav > div > ul > li:nth-child(2), #siteNav > div > ul > li:nth-child(3), #siteNav > div > ul > li:nth-child(4) {
	border-radius: 10px;
}
#siteNav > div > ul > li:nth-child(1) > a, #siteNav > div > ul > li:nth-child(1) > a:hover {
	border-width: 2px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	padding: 0 .25em 0 .5em;
	background: #000000;
}
#siteNav > div > ul > li:nth-child(4) > a, #siteNav > div > ul > li:nth-child(4) > a:hover, #siteNav li:nth-child(4) a.current, #siteNav li:nth-child(4) a.current:hover {
	border-width: 2px;
	padding: 0 .5em 0 .5em;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	background: #000000;
}
#siteNav div {
	width: max-content;
	justify-content: center;
	padding: 0;
	background: transparent;
	margin: auto;
}
#siteNav > div > ul {
	display: flex;
	margin: 0 0 0 0;
	padding: 0;
	position: relative;
	background: #000000;
	border: 2px solid #fd79a8;
	border-radius: 10px;
	box-shadow: 0px 0px 4px 4px #e84393;
	/* max-width: calc(100vw - 8px); */
	font-size: 1.1rem;
}
#siteNav li a:link, #siteNav li a:visited {
	display: block;
	padding: 0em .25em;
	background: #000000;
	/* font: 1.1rem Arial, sans-serif; */
	font-weight: bold;
	text-transform: uppercase;
	color: #55efc4;
	text-align: center;
	letter-spacing: .1em;
}
#siteNav > div > ul > li > ul > li > a {
	line-height: 2em;
  /* font-size: auto; */
	font-size: .7rem;
	margin-bottom: .6em;
	border-right: 2px;
	border: 2px solid #000000;
	border-radius: 10px;
	background: #000000;
}
#siteNav > div > ul > li > ul > li > a:hover {
	transition: 1s;
	line-height: 2em;
  font-size: .7rem;
	border: 2px solid #ffeaa7;
	border-radius: 10px;
	box-shadow: 0px 0px 4px 4px #fdcb6e;
	justify-items: center;
}
#siteNav > div > ul > li > ul > li > a > span:hover {
	transition: 1s;
	border-width: 2px;
	border-radius: 10px;
	color: #e84393;
}
#siteNav li a.current, #siteNav li a.current:hover, #siteNav a span:hover {
	border-width: 2px;
	color: #e84393;
}
#siteNav li a:hover, #siteNav li a:active, #siteNav a span:hover {
	color: #e84393;
	border-bottom: none;
}
#siteNav li a:link span.tagline, #siteNav li a:visited span.tagline{
	font: small-caps bold italic 1em Arial;
	color: #6c5ce7;
	text-transform: none;
	margin-top: .5em;
	letter-spacing: 0;
	background: #000000;
}
#siteNav li ul {
	position: absolute;
	top: 40px;
	left: auto;
	display: none;
	width: 100%;
	background: transparent;
}
.no-js #siteNav li:hover ul, .no-js #siteNav li ul:hover {
	display: flex;
	color: #55efc4
}
#siteNav li ul li {
	display: flex;
	align-items: center;
	justify-content: center;
	margin:0;
	color: #55efc4
}
#siteNav li ul a:link, #siteNav li ul a:visited {
	/* font: normal .7em Arial, sans-serif; */
	font-weight: bold;
	line-height: 2em;
	text-align: center;
	color: #55efc4;
	padding: 0 .5em;
	display:flex;
	align-items: center;
	justify-content: center;
	letter-spacing: 0;
}
#siteNav li ul a:hover, #siteNav li ul a:active, #siteNav li ul svg:hover {
	fill: #e84393;
	color: #e84393;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #000000;
}
/* mainContent ^5c */
#mainContent #contentHeader {
	margin-bottom: 6em;
	display:none;
}
/* keep headlines the same when crumbs are present */
#wrapper #mainContent header.hasCrumbs {
	margin-bottom: 4em;
}
#mainContent #contentHeader h1 {
	font: normal 1.2em Helvetica, Arial, sans-serif;
	padding-bottom: .1em;
	letter-spacing: 1px;
	border-bottom: 2px solid #000000;
	color: #000000;
	/* margin-top: 1.6em; */
}
#mainContent #contentHeader #subLinks {
	display: none;
}
#mainContent h2{
	font: normal 1.4em Helvetica, Arial, sans-serif;
	color: #000000;
	margin: 1em 0 0;
}
#mainContent h3{
	font: bold 1.2em Helvetica, Arial, sans-serif;
	color: #000000;
	margin: 1em 0 0;
}
#mainContent #mainArticle {
	margin-bottom: 50px;
	float: left;
}
#mainContent #mainArticle pre {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: .9em;
	padding: 25px;
	background: #eee;
	border: 1px solid #ccc;
	margin-left: 25px;
	-webkit-border-top-left-radius: 0px;
	-webkit-border-top-right-radius: 0px;
	-webkit-border-bottom-right-radius: 20px;
	-webkit-border-bottom-left-radius: 0px;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomright: 20px;
	-moz-border-radius-bottomleft: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 0px;
	display: block;
}
#mainContent #mainArticle .multiCol {
  -moz-column-count: 2;
  -moz-column-gap: 25px;
  -webkit-column-count: 2;
  -webkit-column-gap: 25px;
  column-count: 2;
  column-gap: 25px;
}
#mainContent #mainArticle h1{
	font: normal 2em Arial, sans-serif;
	color: #000000;
	margin: 1.2em 0 .2em;
}
#mainContent #mainArticle #supportOptions h2{
	font: normal 1.4em Arial, sans-serif;
	color: #000000;
}
#mainContent #mainArticle ul {
	list-style: none;
	margin: 1em 0;
	padding: 0;
}
#mainContent #mainArticle ul ul{
	margin: 1.4em 0 1em 0;
}
#mainContent #mainArticle li {
	margin: 0 0 1.2em 2.4em;
	padding: 0 0 0 24px;
	background: url(../_images/star_bullet.gif) no-repeat 0 2px;
	font-size: 1em;
	color: #db6159;
}
#mainContent #mainArticle li li{
	font-size: 100%;
	margin-bottom: .7em;
}
/* form styling ^5f */
#mainContent #mainArticle form p {
	color: #000000;
	margin: 0 0 20px 20px;
}
#mainContent #mainArticle form p.subHead {
	margin: 0 0 0 20px;
	clear: both;
}
#mainContent #mainArticle form label.subHead {
	display: block;
	float: none;
	margin: 0;
	width: auto;
}
#mainContent form {
	font: bold .9em Arial, Helvetica, sans-serif;
	color: #ffeaa7;
}
#mainContent fieldset {
	/* padding: 0px 0px 0px 0px; */
	margin: -47px 0 26px;
	background-color: transparent;
	width: max-content !important;
	min-width: 55vw !important;
	max-width: calc(100vw * .66) !important; 
	border: 2px solid #55efc4;
	border-radius: 10px;
	box-shadow: 0px 0px 4px 4px #00b894;
	position: relative;
	-webkit-border-top-left-radius: 20px;
	-webkit-border-top-right-radius: 20px;
	-webkit-border-bottom-right-radius: 20px;
	-webkit-border-bottom-left-radius: 20px;
	-moz-border-radius-topleft: 20px;
	-moz-border-radius-topright: 20px;
	-moz-border-radius-bottomright: 20px;
	-moz-border-radius-bottomleft: 20px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
}
#mainHeader fieldset {
	padding: 20px 20px 20px 20px;
	margin: 29px auto 26px;
	height: 36px;
	overflow-y:hidden;
	background-color: transparent;
	width: auto;
	min-width: 55vw;
	max-width: 70vw !important; 
	border: 2px solid #55efc4;
	border-radius: 10px;
	box-shadow: 0px 0px 4px 4px #00b894;
	display: flex;
	position: absolute;
	right: 0px;
	left: 0px;
	clip-path: inset(-10% -10% 20% -10% round 20px 20px 0px 0px);
	-webkit-border-top-left-radius: 20px;
	-webkit-border-top-right-radius: 20px;
	-webkit-border-bottom-right-radius: 20px;
	-webkit-border-bottom-left-radius: 20px;
	-moz-border-radius-topleft: 20px;
	-moz-border-radius-topright: 20px;
	-moz-border-radius-bottomright: 20px;
	-moz-border-radius-bottomleft: 20px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
}
#mainContent .main {
	padding: 20px !important;
	display: inline;
	width: 55%;
}
#mainContent fieldset legend {
	padding: 0;
	margin: 0;
	color: #6c5ce7;
}
#mainContent legend strong {
	position: absolute;
	margin-left: 20px;
	margin-top: 10px;
	font-size: 1.2em;
}
#mainContent input[type="date"]{
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #e84393;
	background: transparent;
	border-top-color: #6c5ce7;
	border-left-color: #6c5ce7;
	border-bottom-color: #55efc4;
	border-right-color: #55efc4;
}
#mainContent input[type="text"], #mainContent input[type="email"],#mainContent input[type="password"],#mainContent input[type="tel"],#mainContent input[type="url"]{
	background: transparent;
	border-top-color: #6c5ce7;
	border-left-color: #6c5ce7;
	border-bottom-color: #55efc4;
	border-right-color: #55efc4;
	width: 350px;
	padding-right: 25px;
}
#mainContent textarea {
	background: transparent;
	width: 500px;
	height: 150px;
}
#mainContent form label{
	width: 80px;
	float: left;
	clear: left;
	margin-right: .50em;
}
#mainContent form label.inline {
	width: auto;
	float: none;
}

#mainContent #mainArticle form ol{
	list-style:none;
	margin: 0;
	padding: 0;
}
#mainContent #mainArticle form li {
	background: none;
	margin: 0;
	padding: 0;
}
#mainContent form input{
	font-weight: bold;
	background: transparent;
	border-right: 2px solid #e84393;
}
#mainContent input[type="button"]{
	font-weight: bold;
	color: #55efc4;
	background-color: #000000;
	border: 2px solid #2d3436;
	border-radius: 10px;
	box-shadow: 0px 0px 4px 4px #e84393;
}
#mainContent input[type="button"]:hover{
	transition: all 1s;
	font-weight: bold;
	color: #e84393;
	background-color: #000000;
	border: 2px solid #2d3436;
	border-radius: 10px;
	box-shadow: 0px 0px 4px 4px #fdcb6e;
}
#mainContent form input[required]{
	font-weight: bold;
	background: transparent;
	border-right: 2px solid #e84393;
}
/*contact form*/
#mainContent form#frmContact .col1 {
	float: left;
	padding-left: 10px;
	margin-right: 20px;
	width: 165px;
	margin-bottom: 1em;
}
#mainContent form#frmContact .col2, #mainContent form#frmContact .col3 {
	float: left;
	margin-right: 20px;
	width: 170px;
}
#mainContent form#frmContact div p {
	margin: 0 0 .5em 0;
}
#mainContent form#frmContact div label {
	font-size: .9em;
	display: inline;
	float: none;
}
/* footer region ^5h */	
#pageFooter section {
	float: left;
	width: 341px;
	padding-top: 25px;
}
#pageFooter section:first-child {
	margin-left: 128px;
}
#pageFooter section h1{
	font-family: Arial, sans-serif;
	font-size: 1em;
	letter-spacing:1px;
	color: #000000;
	text-transform: uppercase;
	margin-bottom: 1em;
}
#pageFooter section h2{
	font-family: Arial, sans-serif;
	font-size: 1.5em;
	letter-spacing:1px;
	color: #000000;
	margin-bottom: 1em;
}
#pageFooter section p{
	font-family: Arial, sans-serif;
	font-size: 1em;
	font-weight: bold;
	margin-bottom: 1em;
	color: #000000;
}
#pageFooter section ul{
	list-style: none;
	margin: 0;
	padding:0;
}
#pageFooter section li {
	margin-bottom: 1em;
}
#pageFooter section li a:link, #pageFooter section li a:visited {
	font-family: Arial, sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	color: #000000;
}
#pageFooter section li a:hover, #pageFooter section li a:active {
	color: #db6159;
	font-weight: bold;
	border: none;
}
#field > article > div.hero > div > div > span.contact-item-location > i {
	display:flex;
}