@charset "UTF-8";

/* -------- import font rules ---------- */
@import url(fonts.css);

/*--------------------------- global constants -------------------------*/
/*limited reset*/
html, body, div, section, article, aside, header, hgroup, footer, nav, h1, h2, h3, h4, h5, h6, p, blockquote, address, time, span, em, strong, img, ol, ul, li, figure, canvas, video {
	--preset--color--black: #000000;
	--preset--color--cyan-bluish-gray: #abb8c3;
	--preset--color--white: #ffffff;
	--preset--color--pale-pink: #f78da7;
	--preset--color--vivid-red: #cf2e2e;
	--preset--color--luminous-vivid-orange: #ff6900;
	--preset--color--luminous-vivid-amber: #fcb900;
	--preset--color--light-green-cyan: #7bdcb5;
	--preset--color--vivid-green-cyan: #00d084;
	--preset--color--mint-green: #00b894;
	--preset--color--pale-cyan-blue: #8ed1fc;
	--preset--color--vivid-cyan-blue: #0693e3;
	--preset--color--light-green: #55efc4;
	--preset--color--dark-orange: #db6159;
	--preset--color--dark-blue: #000000;
	--preset--color--vivid-purple: #6c5ce7;
	--preset--gradient--dark-blue-to-dark-orange: linear-gradient(180deg, #000000 15%, #0984e3 80%); 
	margin: 0;
	padding: 0;
	border: 0;
}
#field > article > div.hero > div > div > span.contact-item-location > i {
	display:flex;
}
.copyright {
	display: block;
	position: absolute;
	z-index: 1;
	background: #000000;
	font-weight: bold;
	font-variant-caps: all-small-caps;
	bottom: 4px;
	color:#e84393;
}
.copyright::hover {
	display: block;
	position: absolute;
	z-index: 1;
	background: #000000;
	font-weight: bold;
	font-variant-caps: all-small-caps;
	bottom: 4px;
	color:#d63031;
}
.pfp {
	position: absolute;
	z-index: 1;
	background: #000000;
	right: 20px;
	top: 20px;
	/* margin: 0px 0px 0px 0px; */
	border-radius: 10px;
	border: 2px solid #a29bfe;
	box-shadow: 0px 0px 4px 4px #6c5ce7;
}
.box {
	/* width: 1280px; */
	/* padding: 4px auto; */
	position: relative;
	justify-content: center;
	align-content: center;
	display: flex;
	background: transparent;
	
	/* z-index: 2; */
}
.fixedBanner {
	margin-left: 15%;
	min-width: 75%;
	min-height: 29px;
	background: transparent;
	/* height: 58px; */
	/* z-index: -1; */
	/* display: block; */
	/* position: absolute; */
	margin: 29px 0 0 0;
	background:transparent;
	border-radius: 10px;
	border: 2px solid #2d3436;
	box-shadow: 0px 0px 4px 4px #55efc4;
}
.flash {
	-webkit-animation-name: flash-animation;
	-webkit-animation-duration: 0.2s;
  -webkit-animation-iteration-count: 3;
  -webkit-animation-timing-function: ease;

  -moz-animation-name: quickFlash;
  -moz-animation-duration: .2s;
  -moz-animation-iteration-count: 3;
  -moz-animation-timing-function: ease;
	
	animation-name: flash-animation;
	animation-duration: 0.2s;
  animation-iteration-count: 3;
  animation-timing-function: ease;
}

@-webkit-keyframes flash-animation {  
	from { color: #fdcb6e; border: 2px solid #fd79a8; box-shadow: 0px 0px 4px 4px #e84393;}
	to   { color: default; border: 2px solid #ffeaa7; box-shadow: 0px 0px 4px 4px #fdcb6e;}
}
@keyframes flash-animation {  
	from { color: #fdcb6e; border: 2px solid #fd79a8; box-shadow: 0px 0px 4px 4px #e84393;}
	to   { color: default; border: 2px solid #ffeaa7; box-shadow: 0px 0px 4px 4px #fdcb6e;}
}
a:link, a:visited {
	transition: 1s;
	text-align: center;
	font-weight: bold;
	justify-content: center;
	color: #fdcb6e;
	/* border: 2px solid #2d3436; */
	text-decoration: none;
}
#specials > h2 > a:link,  #specials > h2 > a:active,  #specials > h2 > a:visited {
	transition: 1s;
	font-variant-caps: all-small-caps;
	text-align: center;
	font-weight: bold;
	justify-content: center;
	color: #55efc4;
	border-width: 2px;
	border-radius: 10px;
	border: 2px solid #2d3436;
	box-shadow: 0px 0px 4px 4px #e84393;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	text-decoration: none;
}
#specials > h2 > a:hover,  #specials > h2 > a:active{
	color: #e84393;
	font-size: inherit;
	transition: 1s;
	border-radius: 10px;
	border: 2px solid #2d3436;
	box-shadow: 0px 0px 4px 4px #fdcb6e;
}
a:hover, a:active {
	color: #e84393;
	font-size: inherit;
	transition: 1s;
}
p + h1 {
	margin-top: 1em;
	padding-top: 1em;
	border-top: 2px solid #000000;
}
p {
	font-size: 1em;
	line-height: 2;
	margin: 0 0 1em;
}
#trivia > h1 {
	margin-bottom: 1em;
}
#trivia > p {
	font-style: italic;
	font-weight: bold;
	color: #ffeaa7;
	display: contents;
	margin-left: 0em;
	margin-top: 1em;
	margin-bottom: 0em;
	line-height: 1.5;
}
/*html5 display rule*/
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, video {
	display: block;
}
html, body {
	margin: 0; padding: 0;}

body {
	text-align:center;
	font: 100% Arial, sans-serif;
	background: #000000;
	/* background: var(--preset--gradient--dark-blue-to-dark-orange); */
	margin:0;
}
/* ^2 ------ global classes -------- */
.floatRight {
	float: right;
}
.floatLeft {
	float: left;
}
.clearRight {
	clear: right;
}
.clearLeft {
	clear: left;
}
.clearBoth {
	clear: both;
}
span.accent {
	display: block;
	text-align: right;
}
.fixed-header {
	width: 100%;
	min-height: 68px;
	position: fixed;
	align-self: center;
	justify-self: center;
	align-content: center;
	
	/* z-index: -100000; */
	margin: 4px auto 0 auto;
	/* padding: 4px auto 0 auto; */
}
#mainContent img.articleImage {
	display: block;
	margin: 1em 0;
}
.callOut {
	background: transparent;
	padding: 1.6em;
	margin-bottom: 1.6em;
	border: 2px solid #2d3436;
	border-radius: 10px;
	box-shadow: 0px 0px 4px 4px #55efc4;
	-webkit-border-top-left-radius: 20px;
	-webkit-border-top-right-radius: 20px;
	-webkit-border-bottom-right-radius: 20px;
	-webkit-border-bottom-left-radius: 20px;
	-moz-border-radius-topleft: 20px;
	-moz-border-radius-topright: 20px;
	-moz-border-radius-bottomright: 20px;
	-moz-border-radius-bottomleft: 20px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	width: 380px;
}
.required {
  color: #e84393;
}
.hidden {
  display: none;
}
/* ^3 ------------- home page specfic layout styles ----------- */
#home #wrapper {
	background: #000 url(../_images/home_page_back.jpg) no-repeat 0 100px;
}
#actionCall {
	height: 328px;
	clear: both;
	border-top: 1px solid #757575;
}
#actionCall h1{
	font: normal 2.8em Arial, sans-serif;
	color: transparent;
	text-shadow: 1px 0px 0px #000;
	filter: dropshadow(color=#000000, offx=1, offy=0); 
	margin: 70px 0 0 607px;
	letter-spacing:1px;
}
#actionCall a:link, #actionCall a:visited{
	border: none;
	width: 285px;
	height: 55px;
	background: url(../_images/tour_badge.png) no-repeat;
	display:block;
	margin: 70px 0 0 783px;
}
#actionCall a:hover, #actionCall a:active{
	background-position: left bottom;
}
#actionCall h2{
	text-indent:-1000em;
}
#home #contentWrapper{
	margin: 0 25px;
	padding: 25px;
	background: transparent;
	background: rgba(255, 255, 255, 0);
	float: left;
	width: 1180px;
}
#home #mainContent {
	float: right;
	/* display:flex; */
	width: 100%;
	padding-right: 0;
	margin-right: 0;
	/* z-index: -2; */
}
#home #secondaryContent {
	float: left;
	width: 400px;
	margin-top: 0;
}
#home #mainContent h1, #home #secondaryContent h1 {
	margin: 1em 0 .5em;
	padding-top: 2em;
	border-top: 2px solid #000000;
}
#home #mainContent h1:first-child, #home #secondaryContent h1:first-child {
	border: none;
	padding-top: 0;
	margin: 0 0 .25em;
}
#home #mainContent p + h1 {
	margin-top: 1em;
	padding-top: 1em;
	border-top: 2px solid #999;
}
#home #mainContent p {
	font-size: 1em;
	line-height: 2;
	margin: 1em 0;
}
#home #mainContent p.spotlight{
	padding-right: 200px;
	background: url(../_images/cycle_logo.png) no-repeat top right;
}
#home video {
	margin: 1em 0;
}
#home p.videoText {
	width: 525px;
}
/* ^4 --------------------- base layout styles ------------------- */
#wrapper {
 	position: relative;
	padding: 0;
	width: auto;
	margin: 25px auto 0;
	background: transparent;
	text-align: left;
	z-index: 1; /*fix for IE menu issues*/
}
#mainWrapper {
	width: 100%;
	display: inline-block;
}
#mainHeader {
	position: fixed;
	float: left;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	height: 60px;
	overflow-y:hidden;
	z-index: 2; /*fix for IE menu issues*/
}
#mainContent {
	float: right;
	display: flex;
	width: 100%;
	margin-right: 0px;
	margin-top: 55px;
}
#secondaryContent {
	float: left;
	margin-top: 55px;
	width: 440px;
	padding-left: 25px;
}
#pageFooter {
	background: #0693e3;
	clear:both;
	overflow: auto;
	height: 300px;
	width: 100%;
}
/* ^5----------------------- region-detail styles ------------------------ */
/*  header  ^5a*/

#mainHeader a.logo:hover {
	border: none;
}
#mainHeader a.logo{
	width: 50px;
	height: 50px;
	display: block;
	background: url(../_images/pfp-50-50.png) no-repeat;
	position: absolute;
	top: .5em;
	left: .5em;
	text-indent: -1000em;
	z-index: 2000;
}
#specials > h2 > img {
	border-radius: 10px;
	border: 2px solid #a29bfe;
	transition: all 1s;
	opacity: 1;
	pointer-events: none;
	box-shadow: 0px 0px 4px 4px #6c5ce7;
}
.tt {
	font: 1.1em Arial, sans-serif;
	position: absolute;
	left: 61px;
	/* width: -moz-fit-content;
	width: fit-content; */
	/* width: auto; */
	min-width: 180px;
	max-width: auto;
	height: 41px;
	background: #000000;
	z-index: 999999999999;
	margin-top: -6.5px;
	padding: 4px 4px 4px 10px;
	border-radius: 10px;
	/* border: 2px solid #2d3436; */
	opacity: 0;
	pointer-events: none;
	box-shadow: 0px 0px 4px 4px #55efc4;
}
.tt .tt-title {
	position: relative;
	display: flex;
	background-color: #000000;
	text-shadow: 2px 2px 1px #2d3436;
	font-weight: bold;
	color: #e84393;
	font-size: 15px;
	margin-bottom: 4px;
}
.tt .tt-title span {
	font-size: 15px;
	/* width: 100%; */
	display: flex;
	margin-bottom: 0px;
}
.tt .tt-descr {
	min-width: 150px;
	max-width: auto;
	display: flex;
	text-align: left;
	font-size: 12px;
	font-weight: bold;
	line-height: 100%;
	width: 100%;
	color: #55efc4;
	overflow-x: auto;
	overflow-y: hidden;
	letter-spacing: -.01em;
}
.tt .tt-descr span {
	/* min-width: 150px; */
	font-weight: 800;
	text-align: left;
	overflow-x: auto;
	overflow-y: hidden;
	color: #55efc4
}
.tt .tt-descr img {
	margin-top: 0px;
}


#sideBar {
	position: fixed;
	left: 1em;
	top: 1em;
	display: block;
	margin-top: 0em;
	padding-bottom: 0em;
}
#sideBar > ul > li > a > i.selected {
	color: #e84393;
	border: 2px solid #ffeaa7;
	border-radius: 10px;
	box-shadow: 0px 0px 4px 4px #fdcb6e;
}
#sideBar > ul > li > a.current > i > ul > li > div, #sideBar > ul > li > a.current > i > ul > li > div > .tt {
	display: block;
	opacity: 1;
}
#sideBar ul li {
	margin: 0 0 10px 0;
	border-radius: 10px;
	list-style: none;
}
#sideBar li a i {
	transition: 1s;
	color: #55efc4;
	border-radius: 10px;
	border: 2px solid #000000;
	display: flex;
	font-size: 36px;
	text-align: center;
	justify-content: center;
	padding: 6.5px 2px 6.5px 2px;
}
#sideBar ul li a i:hover, #sideBar li a i:active {
	transition: 1s;
	color: #e84393;
	border-radius: 10px;
}


/* navigation ^5b*/
#siteNav h1 {
	display: none;
}
#siteNav ul {
	list-style: none;
	height: 50px;
	background-color: transparent;
	width: auto;
	padding: 0;
	margin: 0;
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
}
#siteNav div > ul > li {
	display: flex;
	margin: 0 0 0 0;
	padding: 0;
	position: relative;
}
#siteNav > div > ul > li > ul > li:nth-child(1) > a {
	margin-top: 16px;
}
#siteNav > div > ul > li:nth-child(1), #siteNav > div > ul > li:nth-child(2), #siteNav > div > ul > li:nth-child(3), #siteNav > div > ul > li:nth-child(4) {
	border-radius: 10px;
}
#siteNav > div > ul > li:nth-child(1) > a, #siteNav > div > ul > li:nth-child(1) > a:hover {
	border-width: 2px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	padding: 0 .5em;
	background: #000000;
}
#siteNav > div > ul > li:nth-child(4) > a, #siteNav > div > ul > li:nth-child(4) > a:hover, #siteNav li:nth-child(4) a.current, #siteNav li:nth-child(4) a.current:hover {
	border-width: 2px;
	padding: 0 .5em;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	background: #000000;
}
#siteNav div {
	width: max-content;
	justify-content: center;
	padding: 0;
	background: #000000;
	margin: auto;

}
#siteNav > div > ul {
	display: flex;
	margin: 0 0 0 0;
	padding: 0;
	position: relative;
	background: #000000;
	border: 2px solid #fd79a8;
	border-radius: 10px;
	box-shadow: 0px 0px 4px 4px #e84393;
}
#siteNav li a:link, #siteNav li a:visited {
	display: block;
	padding: 0em 1em;
	background: #000000;
	font: 1.1em Arial, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	color: #55efc4;
	text-align: center;
	letter-spacing: .1em;
}
#siteNav > div > ul > li > ul > li > a {
	line-height: 2em;
  font-size: .7em;
	margin-bottom: .6em;
	border-right: 2px;
	border: 2px solid #000000;
	border-radius: 10px;
	background: #000000;
}
#siteNav > div > ul > li > ul > li > a:hover {
	transition: 1s;
	line-height: 2em;
  font-size: .7em;
	border: 2px solid #ffeaa7;
	border-radius: 10px;
	box-shadow: 0px 0px 4px 4px #fdcb6e;
	justify-items: center;
}
/* #siteNav > div > ul > li > ul > li{
	line-height: 2em;
  font-size: 1.1em;
	border-width: 2px;
	border-radius: 10px;
	border: solid;
	padding: 0 1em 0 0;
	text-align: center;
	justify-items: center;
} */
/* #siteNav > div > ul > li > ul > li > a > i > span {
	font-weight: bold;
	line-height: 2em;
	text-align: center;
	border: 2px solid #2d3436;
	padding: .5em;
	display:flex;
	align-items: center;
	justify-items: center;
	letter-spacing: 0;
} */
#siteNav > div > ul > li > ul > li > a > span:hover {
	transition: 1s;
	border-width: 2px;
	border-radius: 10px;
	color: #e84393;
}
#siteNav li a.current, #siteNav li a.current:hover, #siteNav a span:hover {
	border-width: 2px;
	color: #e84393;
}
#siteNav li a:hover, #siteNav li a:active, #siteNav a span:hover {
	color: #e84393;
	border-bottom: none;
}
#siteNav li a:link span.tagline, #siteNav li a:visited span.tagline{
	font: small-caps bold italic 1em Arial;
	color: #6c5ce7;
	text-transform: none;
	margin-top: .5em;
	letter-spacing: 0;
	background: #000000;
}
#siteNav li ul {
	position: absolute;
	top: 40px;
	left: auto;
	display: none;
	width: 100%;
	background: transparent;
}
.no-js #siteNav li:hover ul, .no-js #siteNav li ul:hover {
	display: flex;
	color: #55efc4
}
#siteNav li ul li {
	display: flex;
	align-items: center;
	justify-content: center;
	margin:0;
	/* background: #000000; */
	color: #55efc4
}
#siteNav li ul a:link, #siteNav li ul a:visited {
	font: normal .7em Arial, sans-serif;
	font-weight: bold;
	line-height: 2em;
	text-align: center;
	color: #55efc4;
	padding: 0 .5em;
	display:flex;
	align-items: center;
	justify-content: center;
	/* border-right: none; */
	letter-spacing: 0;
}
#siteNav li ul a:hover, #siteNav li ul a:active, #siteNav li ul svg:hover {
	fill: #e84393;
	color: #e84393;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #000000;
}
/* mainContent ^5c */
#mainContent #contentHeader {
	margin-bottom: 6em;
	display:none;
}
/* keep headlines the same when crumbs are present */
#wrapper #mainContent header.hasCrumbs {
	margin-bottom: 4em;
}
#mainContent #contentHeader h1 {
	font: normal 1.2em Helvetica, Arial, sans-serif;
	padding-bottom: .1em;
	letter-spacing: 1px;
	border-bottom: 2px solid #000000;
	color: #000000;
	/* margin-top: 1.6em; */
}
#mainContent #contentHeader #subLinks {
	display: none;
}
#mainContent h2{
	font: normal 1.4em Helvetica, Arial, sans-serif;
	color: #000000;
	margin: 1em 0 0;
}
#mainContent h3{
	font: bold 1.2em Helvetica, Arial, sans-serif;
	color: #000000;
	margin: 1em 0 0;
}
#mainContent #mainArticle {
	margin-bottom: 50px;
	float: left;
}
#mainContent #mainArticle pre {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: .9em;
	padding: 25px;
	background: #eee;
	border: 1px solid #ccc;
	margin-left: 25px;
	-webkit-border-top-left-radius: 0px;
	-webkit-border-top-right-radius: 0px;
	-webkit-border-bottom-right-radius: 20px;
	-webkit-border-bottom-left-radius: 0px;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomright: 20px;
	-moz-border-radius-bottomleft: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 0px;
	display: block;
}
#mainContent #mainArticle .multiCol {
  -moz-column-count: 2;
  -moz-column-gap: 25px;
  -webkit-column-count: 2;
  -webkit-column-gap: 25px;
  column-count: 2;
  column-gap: 25px;
}
#mainContent #mainArticle h1{
	font: normal 2em Arial, sans-serif;
	color: #000000;
	margin: 1.2em 0 .2em;
}
#mainContent #mainArticle #supportOptions h2{
	font: normal 1.4em Arial, sans-serif;
	color: #000000;
}
#mainContent #mainArticle h2 span.tourCost {
	font-size: .8em;
	color: #666;
	font-style: italic;
	margin-top: .5em;
	display: block;
	border-bottom: 1px solid #666;
	padding-bottom: .25em;
	margin-bottom: 1em;
}
#mainContent #mainArticle ul {
	list-style: none;
	margin: 1em 0;
	padding: 0;
}
#mainContent #mainArticle ul ul{
	margin: 1.4em 0 1em 0;
}
#mainContent #mainArticle li {
	margin: 0 0 1.2em 2.4em;
	padding: 0 0 0 24px;
	background: url(../_images/star_bullet.gif) no-repeat 0 2px;
	font-size: 1em;
	color: #db6159;
}
#mainContent #mainArticle li li{
	font-size: 100%;
	margin-bottom: .7em;
}
#mainContent #mainArticle ul.faqNav{
	-moz-column-count: 3;
 	 -moz-column-gap: 16px;
  	-webkit-column-count: 3;
  	-webkit-column-gap: 16px;
  	column-count: 3;
 	 column-gap: 16px;
	 padding: 0;
	 width: 650px;
}
#mainContent #mainArticle ul.faqNav li{
	background: none;
	padding: 0;
	font-size: .8em;
}
#mainContent #mainArticle ul.faqNav a{
	background: #cb7d20;
	padding: 5px;
	font-family: Arial, sans-serif;
	color: #fff;
	width: 100%;
	display: block;
	text-align: center;
}
#mainContent #mainArticle ul.faqNav a:hover{
	background: #952;
	border: none;
}
#mainContent div.tourDescription {
	border-top: 2px solid #2c566a;
	float: left;
	clear: left;
	padding: 10px 0;
	margin-bottom: 15px;
}
#mainContent .tourDescription h2 {
	font-size: 1.6em;
	color: #193742;
	font-weight: bold;
	margin-bottom: .5em;
	clear: right;
}
#mainContent .tourDescription h3.price {
	font-size: 1.2em;
	font-family: Arial, sans-serif;
	color: #666;
	font-weight: normal;
	font-style: italic;
	text-align: right;
	clear: right;
	margin: -1.6em 0 1em;
}
#mainContent .tourDescription p {
	font-size: .9em;
	line-height: 2;
}
#mainContent .tourDescription span.option {
	font-weight: bold;
	text-align: right;
	display:block;
}
#mainContent .tourDescription img {
	float: left;
	padding: 10px 10px 10px 0;
}
#mainContent .tourDescription a.more {
	display:block;
	float: right;
	width: 95px;
	height: 30px;
	background: url(../_images/more_bug.gif) no-repeat left top;
	text-indent: -1000em;
	margin: 15px 0 0 15px;
}
#mainContent a.book {
	display:block;
	float: right;
	width: 95px;
	height: 30px;
	background: url(../_images/book_bug.gif) no-repeat left top;
	text-indent: -1000em;
	margin: 15px 0 0 15px;
}
#mainContent a.detail {
	float: left;
}
#mainContent .tourDescription a.more:hover,#mainContent a.book:hover{
	background-position: right top;
	border: none;
}
#mainContent #mainArticle dl.faq {
	margin-bottom: 1em;
	padding-bottom: 1em;
	border-bottom: 1px solid #999;
}
#mainContent #mainArticle dl.faq dt {
	font: normal bold .9em Arial, sans-serif;
	padding: 0;
	margin: 1em 0 .5em;
	color: #333;
	letter-spacing: 1px;
}
#mainContent #mainArticle dl.faq dd {
	font-size: .9em;
	line-height: 1.4;
	color: #000000;
	text-align: justify;
	margin: 0;
	padding: 0 0 0 2em;
}
#mainContent #mainArticle p a.top {
	text-align: right;
	padding-left: 30px;
	background: url(../_images/return_top.gif) no-repeat;
	line-height: 20px;
	float: right;
}
#mainContent #mainArticle p a.top:hover {
	border: none;
	color: #000000;
}
/* data tables ^5d */
/*simple tables*/
/* #mainContent table.simple {
	width: 90%;
	background: #c3cebc;
	border: none;
	margin: 1em 0 1em;
	border: 1px solid #666;
	border-collapse: collapse;
}
#mainContent table.small {
	width: 60%;
	border: none;
	margin: 1em 0 1em;
}
#mainContent table.simple thead{
	background: #555;
	border-bottom: 1px solid #000;
}
#mainContent table.simple thead th{
	font-size: .8em;
	font-weight: normal;
	text-align: left;
	padding: 0 10px;
	line-height: 2.6em;
	color: #fff;
}
#mainContent table.simple caption {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.2em;
	text-align: left;
	font-family: Arial, sans-serif;
}
#mainContent table.simple caption time {
	font-size: .6em;
	font-style: italic;
	text-align: right;
	text-transform: lowercase;
	position: relative;
	right: 0;
	top: -1.4em;
	display: block;
}

#mainContent table.simple th, #mainContent table.simple td {
	font-family: Helvetica, Arial, sans-serif;
	font-size: .8em;
	padding-left: 1em;
	text-align: left;
	line-height: 3;
}
#mainContent table.simple td {
	border: 1px solid #666;
}
#mainContent table.small td {
	border: none;
}
#mainContent table.simple tr:nth-child(odd) {
	background: #e1d8b9;
}
/*complex tables*/
#mainContent table.complex {
	width: 95%;
	margin: 1em auto 1em;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 0.9em;
	border-collapse: collapse;
	border: 1px solid #333;
	background: #e1d8b9;
}
#mainContent table.complex caption {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.2em;
	text-align: left;
	font-family: Arial, sans-serif;
}
#mainContent table.complex th{
	font-size: 1em;
	font-weight: normal;
	text-align: left;
	padding: 0 10px;
	line-height: 2.6em;
	color: #FFF;
	background: #555;
	border-bottom: 1px solid #000;
}
#mainContent table.complex thead {
	background: url(../_images/thead_back.gif) repeat-x left top;
	height: 40px;
}
#mainContent table.complex thead th {
	background: none;
	color: #000;
	text-align:left;
	border: 1px solid #333;
}
#mainContent table.complex td {
	padding: 0 10px;
	border: 1px solid #333;
	font-size: .8em;
}

#mainContent #trailType, #mainContent #trailPath, #mainContent #trailRating {
	background: #fff;
} */
/* form styling ^5f */
#mainContent #mainArticle form p {
	color: #000000;
	margin: 0 0 20px 20px;
}
#mainContent #mainArticle form p.subHead {
	margin: 0 0 0 20px;
	clear: both;
}
#mainContent #mainArticle form label.subHead {
	display: block;
	float: none;
	margin: 0;
	width: auto;
}
#mainContent form {
	font: bold .9em Arial, Helvetica, sans-serif;
	color: #ffeaa7;
}
#mainContent fieldset {
	/* padding: 0px 0px 0px 0px; */
	margin: -47px 0 26px;
	background-color: transparent;
	width: 100%;
	border: 2px solid #55efc4;
	border-radius: 10px;
	box-shadow: 0px 0px 4px 4px #00b894;
	position: relative;
	-webkit-border-top-left-radius: 20px;
	-webkit-border-top-right-radius: 20px;
	-webkit-border-bottom-right-radius: 20px;
	-webkit-border-bottom-left-radius: 20px;
	-moz-border-radius-topleft: 20px;
	-moz-border-radius-topright: 20px;
	-moz-border-radius-bottomright: 20px;
	-moz-border-radius-bottomleft: 20px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
}
#mainHeader fieldset {
	padding: 20px 20px 20px 20px;
	margin: 29px auto 26px;
	height: 36px;
	overflow-y:hidden;
	background-color: transparent;
	width: 55%;
	border: 2px solid #55efc4;
	border-radius: 10px;
	box-shadow: 0px 0px 4px 4px #00b894;
	display: flex;
	position: absolute;
	right: 0px;
	left: 0px;
	clip-path: inset(-10% -10% 20% -10% round 20px 20px 0px 0px);
	/* justify-self: center;
	align-self: center; */
	-webkit-border-top-left-radius: 20px;
	-webkit-border-top-right-radius: 20px;
	-webkit-border-bottom-right-radius: 20px;
	-webkit-border-bottom-left-radius: 20px;
	-moz-border-radius-topleft: 20px;
	-moz-border-radius-topright: 20px;
	-moz-border-radius-bottomright: 20px;
	-moz-border-radius-bottomleft: 20px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
}
#mainContent .resume {
	padding: 20px !important;
	display: inline;
	width: 55%;
}
::-webkit-calendar-picker-indicator {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 24 24"><path fill="%23e84393" d="M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V8h16v13z"/></svg>');
}
#mainContent fieldset legend {
	padding: 0;
	margin: 0;
	color: #6c5ce7;
}
#mainContent legend strong {
	position: absolute;
	margin-left: 20px;
	margin-top: 10px;
	font-size: 1.2em;
}
#mainContent input[type="date"]{
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #e84393;
	background: transparent;
	border-top-color: #6c5ce7;
	border-left-color: #6c5ce7;
	border-bottom-color: #55efc4;
	border-right-color: #55efc4;
}
#mainContent input[type="text"], #mainContent input[type="email"],#mainContent input[type="password"],#mainContent input[type="tel"],#mainContent input[type="url"]{
	background: transparent;
	border-top-color: #6c5ce7;
	border-left-color: #6c5ce7;
	border-bottom-color: #55efc4;
	border-right-color: #55efc4;
	width: 350px;
	padding-right: 25px;
}
#mainContent textarea {
	background: transparent;
	width: 500px;
	height: 150px;
}
#mainContent form label{
	width: 80px;
	float: left;
	clear: left;
	margin-right: .50em;
}
#mainContent form label.inline {
	width: auto;
	float: none;
}

#mainContent #mainArticle form ol{
	list-style:none;
	margin: 0;
	padding: 0;
}
#mainContent #mainArticle form li {
	background: none;
	margin: 0;
	padding: 0;
}
#mainContent form input{
	font-weight: bold;
	background: transparent;
	border-right: 2px solid #e84393;
}
#mainContent input[type="button"]{
	font-weight: bold;
	color: #55efc4;
	background-color: #000000;
	border: 2px solid #2d3436;
	border-radius: 10px;
	box-shadow: 0px 0px 4px 4px #e84393;
}
#mainContent input[type="button"]:hover{
	transition: all 1s;
	font-weight: bold;
	color: #e84393;
	background-color: #000000;
	border: 2px solid #2d3436;
	border-radius: 10px;
	box-shadow: 0px 0px 4px 4px #fdcb6e;
}
#mainContent form input[required]{
	font-weight: bold;
	background: transparent;
	border-right: 2px solid #e84393;
}
/*contact form*/
#mainContent form#frmContact .col1 {
	float: left;
	padding-left: 10px;
	margin-right: 20px;
	width: 165px;
	margin-bottom: 1em;
}
#mainContent form#frmContact .col2, #mainContent form#frmContact .col3 {
	float: left;
	margin-right: 20px;
	width: 170px;
}
#mainContent form#frmContact div p {
	margin: 0 0 .5em 0;
}
#mainContent form#frmContact div label {
	font-size: .9em;
	display: inline;
	float: none;
}
/* secondaryContent ^5g */
#secondaryContent h1 {
	font: normal 1.5em Arial, sans-serif;
	font-weight: normal;
	color: #6c5ce7;
	padding-bottom: .1em;
	/* margin-bottom: 1em; */
	border-bottom: 3px solid #e84393;
}
#secondaryContent #specials h2 {
	font-size: 1.4em;
	font-family: Arial, sans-serif;
	color: #193742;
	margin-bottom: 1em;
	margin-top: 1.25em;
	border-top: 2px solid #999;
	border-width: 2px;
	border-radius: 10px;
	/* padding-top: 1em; */
	font-weight: bold;
	display:block;
	clear: both;
	letter-spacing:1px;
}
#secondaryContent #specials h2.top {
	border:none;
	margin-top: 0.75em;
}
#secondaryContent #specials p {
	font-style: italic;
	font-weight: bold;
	color: #ffeaa7;
	display: contents;
	margin-left: 0em;
	margin-top: 1em;
	margin-bottom: 0em;
	line-height: 1.5;
}
#secondaryContent #specials img {
	float: left;
	margin: 0 1.2em 0em 0;
}
/* footer region ^5h */	
#pageFooter section {
	float: left;
	width: 341px;
	padding-top: 25px;
}
#pageFooter section:first-child {
	margin-left: 128px;
}
#pageFooter section h1{
	font-family: Arial, sans-serif;
	font-size: 1em;
	letter-spacing:1px;
	color: #000000;
	text-transform: uppercase;
	margin-bottom: 1em;
}
#pageFooter section h2{
	font-family: Arial, sans-serif;
	font-size: 1.5em;
	letter-spacing:1px;
	color: #000000;
	margin-bottom: 1em;
}
#pageFooter section p{
	font-family: Arial, sans-serif;
	font-size: 1em;
	font-weight: bold;
	margin-bottom: 1em;
	color: #000000;
}
#pageFooter section ul{
	list-style: none;
	margin: 0;
	padding:0;
}
#pageFooter section li {
	margin-bottom: 1em;
}
#pageFooter section li a:link, #pageFooter section li a:visited {
	font-family: Arial, sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	color: #000000;
}
#pageFooter section li a:hover, #pageFooter section li a:active {
	color: #db6159;
	font-weight: bold;
	border: none;
}



/* @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap'); */

/* @page {
  margin: 1.2cm 0;
}
@page:first {
  margin-top: 0;
} */

.resume {
  /* padding: 1.3cm 1.4cm 1.3cm 1.4cm; */
  position: relative;
	justify-content: center;
}
/* .print .ghost-hightlight {
  display: none;
}
.print .resume {
  padding: 1.12cm 1.2cm 0 1.2cm !important;
}
.print .handle-sort-wrapper {
  display: none;
}
.print .resume {
  letter-spacing: 0.003em !important;
}
.print .handle {
  display: none;
} */
.lambda {
  font-family: Arial, sans-serif;
  color: #a29bfe;
  -webkit-font-feature-settings: "liga" 0, "onum" 1, "kern" 1;
  -o-font-feature-settings: "liga" 0, "onum" 1, "kern" 1;
  font-feature-settings: "liga" 0, "onum" 1, "kern" 1;
}

.lambda h1 {
  font-family: Arial, sans-serif;
  line-height: inherit;
}
.lambda .section-header {
  font-family: Arial, sans-serif;
  display: block;
	color: #e84393;
  font-size: 1.35em;
  letter-spacing: 0;
  font-weight: normal;
  margin: 14px 0 0 0;
  text-transform: uppercase;
  text-align: left;
  border-bottom: none;
}
.lambda .editableContent {
  font-family: Arial, sans-serif;
  font-feature-settings: "liga" 0, "onum" 1, "kern" 1;
  overflow: hidden;
}

.lambda p {
  white-space: pre-line;
  padding: 0;
  margin: 0 auto;
  font-size: 0.95em;
  font-weight: 100;
  line-height: 1.5;
  text-align: left;
  display: block;
  position: relative;
}

.lambda .item,
.lambda .skills .item {
  line-height: 1.25 !important;
  margin-bottom: 9px;
}
.lambda .skills .item {
  margin-bottom: 0;
}
.lambda .name {
  color: #6c5ce7;
	/* text-transform: lowercase; */
	font-variant-caps: all-small-caps;	
  font-family: Arial, sans-serif;
  margin: 0 auto;
  display: block;
  text-align: left;
  width: 100%;
  font-size: 3.0em;
  padding: 0 0 3px 0;
  font-weight: 700;
}
.lambda .contact {
  color: #f78da7;
  margin-top: 2px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}
.lambda .contact-item {
  font-family: Arial, sans-serif;
  display: block;
  align-items: center;
  font-size: 1em;
  font-weight: 500;
  padding: 2px 3px 8px 3px;
}

.lambda .contact-item-location {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  font-size: 1em;
  font-weight: 500;
  padding: 2px 3px 8px 0;
}

.lambda .contact-icon {
  width: 0.9em;
  height: 0.9em;
  margin-right: 3px;
  fill: currentColor;
}

.lambda[data-icons="false"] .contact-icon {
  display: none;
}

.lambda[data-icons="false"] .contact-item:before {
  content: "•";
  display: block;
  padding: 0 7px 0 3px;
}

.lambda .contact span i {
  position: relative;
  top: 1px;
  margin: 0 3px 0 0;
}

.lambda .summary {
  display: block;
}
.lambda .summary-paragraph {
  margin-top: .7em !important;
}
.lambda .item > div > span {
  line-height: 2em;
}
.lambda .item span {
  margin: 0 0 -6px;
  font-size: 1em;
  font-weight: 600;
  text-align: left;
  display: inline-flex;
  align-items: baseline;
  padding: 0;
  line-height: initial;
}

.lambda .highlight {
  color: #6c5ce7;
	text-transform:uppercase;
	/* font-variant-caps: all-petite-caps; */
}

.lambda .item .ghost-hightlight span > span,
.lambda .minor .minor-text {
  font-size: 1em;
  font-weight: 400 !important;
}
.lambda .item span > span:after {
  display: none;
}
.lambda .minor {
  font-feature-settings: "liga" 0, "onum" 1, "kern" 1;
  display: inline-flex !important;
  position: relative;
  overflow: hidden;
}
.lambda .minor .minor-text {
  font-weight: normal;
}
.lambda .item p {
  display: block;
  text-align: left;
  white-space: pre-line;
  padding: 0;
  margin: 0 auto;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.6em;
}
/* .lambda .ghost-hightlight {
  position: absolute !important;
}
.lambda .ghost-hightlight > span {
  line-height: 1.6em;
  font-size: 1em !important;
  font-weight: 400 !important;
  display: inline !important;
  float: none !important;
  color: transparent;
} */
.lambda .handle {
  top: 0 !important;
}
.lambda > div > div > div > .handle {
  top: 0px !important;
  font-size: 1.2em;
  height: calc(100% - 27px);
}
.lambda .summary .item {
  margin-top: -6px;
}

.lambda .education .item > div {
  display: inline-block;
}

.lambda .education-location,
.lambda .education-date {
  font-weight: 400 !important;
}
.lambda .item span:after {
  content: "|";
	font-weight: bold;
  position: relative;
  left: 0;
  box-sizing: border-box;
  padding: 0 0px 0 3px;
  color: #e84393;
}
.lambda .item .baseline {
  display: block !important;
}
.lambda .item .baseline > span:not(:last-child):after {
  content: ",";
  margin-left: -3px;
  color: #f78da7;
}
.lambda .item span:last-child:after {
  content: "";
  position: relative;
  padding: 0;
}
.lambda .item .baseline > span {
  color: #f78da7;
  font-weight: normal;
  margin-bottom: 0;
}

.lambda .hero.havePicture {
  display: flex;
  align-items: flex-end;
}

.lambda .hero.havePicture .name {
  text-align: left;
}

.lambda .hero.havePicture .contact {
  text-align: left;
  justify-content: left;
}

.lambda .picture {
  width: 2.5cm;
  min-width: 2.5cm;
  height: 3cm;
  margin: 0 20px 10px 0;
  border-radius: 15px;
  overflow: hidden;
  color: #f1f1f1;
  background: #f1f1f1;
}
.lambda .picture img {
  object-fit: cover;
  object-position: center;
  width: 2.5cm;
  height: 3cm;
}
.lambda .no-picture {
  color: var(--color-grey);
  border: 2px dashed var(--color-grey);
  cursor: pointer;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  text-transform: uppercase;
  font: var(--font-heading);
  font-size: var(--scale-000);
  line-height: 1.5em;
}

.lambda .hide-picture {
  display: none;
}

.heading {
  font-weight: 600 !important;
}
